<% if (site.posts.length){ %>
  <aside id="krw-posts" class="widget widget-kratos-posts">
  <h4 class="widget-title"><i class="fa fa-file"></i><%- __('title.recent_posts') %></h4>
  <div class="tab-content">
      <ul class="list-group">
        <% let limit = 5; %>
        <% site.posts.sort('date', -1).each(function(post){ %>
          <% if (limit <= 0) { %>
            <% return false; %>
          <% } %>
          <% if (post.title) { %>
            <% const cats = post.categories.toArray(); %>
            <a class="list-group-item" href="<%- url_for(post.path) %>">
              <i class="fa fa-book"></i> <%- post.title %>
              <br><small>
                <%- date(post.date, 'YYYY-MM-DD') %>
                <% if (cats.length > 0) { %>
                  &nbsp;&nbsp;
                  <i class="fa fa-folder"></i>
                  <!-- <%= cats.map((cat, i) => `<a class="category-link" href="${url_for(cat.path)}">${cat.name}</a>`).join(', ') %> -->
                  <%= cats.map((cat, i) => `${cat.name}`).join(', ') %>
                <% } %></small>
            </a>
            
            <% limit--; %>
          <% } %>
        <% }) %>
      </ul>
  </div>
  </aside>
<% } %>